<% include ./partials/header.ejs %>

<!-- =============== Gallery ================= -->

<!-- =============== Gallery ================= -->


<!-- =============== Header and buttons ================= -->
<section class="HomeButtonsSection">
    <h1>
        Your choice?
    </h1>

    <a href="/projects" type="button"  class="btn btn-lg green">Projects</a>
    <a href="/contact" type="button"  class="btn btn-lg pink">Contact</a>

    <ul id="services">
        <li>- Web development - </li>
        <li>- Web design -</li>
        <li>- SEO -</li>
        <li>- Web and Social Media ads -</li>
        <li>- Website repair -</li>
    </ul>

</section>
<!-- =============== Header and buttons ================= -->




<% include ./partials/footer.ejs %>