/*<!--  File name: custom css style file*/
/*Author's name: Artem Iermak*/
/*web site name: artemwebportfolio.herokuapp.com*/
/*File description: css custom styles for Artem's portfolio website*/
/*-->*/
body {
  padding: 0px;
  font: 14px 'Quicksand', "Lucida Grande", Helvetica, Arial, sans-serif;
  /*background-color: #2A363B;*/
  /*color: RGB(240,240,240);*/
}

a {
  color: #00B7FF;
}

/*===================================== start  scroll up ========================================*/
#Go_top {
  display: block;
  width: 40px;
  height: 40px;
  position: fixed;
  /*border: 1px solid black;*/
  border-radius: 50% 50%;
  background-color: transparent;
  z-index: 1000;
  bottom: 20px;
  right: 20px;
  background-color: #E84A5F;

  font-size: 2rem;
  font-weight: 900;
  text-align: center;
  line-height: 40px;
  text-decoration: none;
  color: #ffffff;
}
#Go_top:hover {
  text-decoration: none;
  color: #2A363B;
  transition-duration: 0.5s;
}
/*===================================== end of scroll up ========================================*/



/*==========================================================================================*/
/*=====================================  NAVIGATION ========================================*/
/*==========================================================================================*/
/*====================== logo ==============*/
.st0{fill:#070707;stroke:#000000;stroke-miterlimit:10;}
.st1{stroke:#000000;stroke-miterlimit:10;}
header nav[role="navigation"] svg {
  width: 80px;
  height: 80px;
  margin: 0;
  padding: 0;
}

#mustache #XMLID_6_ {
    transition-property: all;
    transition-duration: 0.5s;
    transform-origin: right top;
}

#mustache #XMLID_6_:hover {
     transform: rotate(15deg);  
}

#mustache #XMLID_8_  {
    transition-property: all;
    transition-duration: 0.5s;
    transform-origin: left top;
}
#mustache #XMLID_8_:hover {
     transform: rotate(-15deg);  
}

header nav[role="navigation"] a[class="navbar-brand"] {
  /*outline: 1px solid red;*/
  padding: 0;
  margin: 0;
  min-height: 80px;
}

.hat {
    transition-property: all;
    transition-duration: 1s;
}

.hat:hover {
    transform: rotate(-30deg) translate(-370px,-100px);
}

.hatRotate {
  animation-name: hat;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;

  animation-delay: 0.3s;

  animation-iteration-count: 2;
  animation-direction: alternate;
  animation-play-state: play;
}
@keyframes hat {
  0% {
    transform: rotate(0deg) translate(0px,0px);
  }
  100% {
    transform: rotate(-30deg) translate(-180px,-140px);
  }
}

.mustacheRoll {
  animation-name: mustache;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;

  animation-delay: 0s;

  animation-iteration-count: 2;
  animation-direction: alternate;
  animation-play-state: play;

     transition-property: all;
    transition-duration: 0.5s;
    transform-origin: right top;
}
@keyframes mustache {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(15deg);
  }
}

/*====================== end logo ==============*/

header nav[role="navigation"] {

	background-color: RGBA(255,255,255,1)!important;
  background-image: none;
  border: 1px RGBA(245,245,245,0.5);
}

div#navbar {
      padding-top: 20px;
}

#navbar ul li  a {
  color: #1e1e1e;
  font: 16px 'Quicksand', "Lucida Grande", Helvetica, Arial, sans-serif;
  transition-property: all;
  transition-duration: 0.5s;
}

#navbar ul li  a:hover {
  color: grey;
  font: 16px 'Quicksand', "Lucida Grande", Helvetica, Arial, sans-serif;
  /*background-color: RGB(240,240,240);*/
  text-decoration-line: underline;
}

/*====================== hamburger ==============*/

button[class="navbar-toggle"], button[class="navbar-toggle collapsed"]{
  position: fixed;
    right: 15px;
    top: 15px;
    border: none;
    left: 90%;
}

.navbar-inverse .navbar-toggle .icon-bar {
  background-color: #1e1e1e;
}
.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover{
  background-color: white;
}
/*==========================================================================================*/

/* ==================================   FOOTER  ======================================== */
footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}
footer a {
  color: #1e1e1e;
}

/*=====================================  HOME PAGE ========================================*/
/*==========================================================================================*/
.HomeButtonsSection {
  width: 100%;
  height: 100vh;
  scroll-behavior: smooth;
  background-color: black;
  background: url("/images/matrix.png") no-repeat center center;
  background-attachment: fixed;
	background-size: cover;


  text-align: center;
  padding: 100px 0;
  margin: 0;
}

.HomeButtonsSection h1 {
  font-size: 100px;
  font-weight: bold;
  color: #ffffff;

  margin-bottom: 70px;
}
.HomeButtonsSection a {
  padding: 10px 30px;
  margin: 0 50px;
  font-size: 3rem;
  background-image: none;
  border-color: transparent;

  border-radius: 25px;
  color: #ffffff;

  /*transition-property: border;*/
  transition-duration: 0.5s;

box-shadow: -1px 3px 11px 2px rgba(97,97,97,0.7) inset;/* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
filter: progid:DXImageTransform.Microsoft.Shadow(Strength=11, Direction=135, Color=#616161); /*IE 5.5-7*/
}

  #services {
    color: #fafafa;
    padding: 0;
    margin-top: 10%;
    font-size: 2rem;
  }
   #services li {
     list-style: none;
  }
 #services li:hover {
   cursor: pointer;
    color: lightgrey;
 }
  



.HomeButtonsSection a:active {
  background-color: #99B898;
  border: 1px solid white;
}
.HomeButtonsSection a:hover {

  /*border: 1px solid white;*/
box-shadow: 0 7px 11px 2px rgba(97,97,97,0.7) inset;/* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
filter: progid:DXImageTransform.Microsoft.Shadow(Strength=11, Direction=135, Color=#616161); /*IE 5.5-7*/
  
}


.green {
  background-color: #E84A5F;
}
.pink {
  background-color: #99B898;
}
.red{
  background-color: #FF847C;
}

/*/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\  TOGGLE  /\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/*/
#slider {
  background: #fafafa;
  width: 200px;
  height: 40px;
  margin: auto auto;
  margin-top: 50px;
  border: 1px solid lightgrey;
  border-radius: 25px;
}
section p {
  vertical-align: middle;
  text-align: center;
  background-color: #e84a5f;
  color: white;
  width: 60px;
  height: 39px;
  margin: 0;

  line-height: 40px;
  position: relative;
  left: 0;
  border-radius: 25px;

  transition: all 1s;
}
/* Add visual style to toggle on/off with JS */
.on {
  left: 140px;
  background-color: #99b898;

}
.rotate {
  display: inline-block;
  animation-name: roll;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;

  animation-delay: 0.3s;

  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-play-state: play;
  /*             animation-fill-mode: forwards; */
}
@keyframes roll {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*==========================================================================================*/



/*=====================================  PROJECT PAGE ========================================*/
/*==========================================================================================*/
.tilesSection {
  text-align: center;
  padding: 40px 0;
  /*outline: 1px solid green;*/
}
.projectTile {
  width:20%;
  margin: 2%;
  display: inline-block;
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=0, Color=#616161)";/*IE 8*/
  -moz-box-shadow: 0 3px 4px 2px rgba(97,97,97,0.9);/*FF 3.5+*/
  -webkit-box-shadow: 0 3px 4px 2px rgba(97,97,97,0.9);/*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/
  box-shadow: 0 3px 4px 2px rgba(97,97,97,0.9);/* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color=#616161); /*IE 5.5-7*/
  transition-duration: 0.2s;
}
.projectTile img {
  width: 100%;
  /*border-radius: 20px;*/

}
.projectTile:hover {

  /*outline: 3px solid grey;*/

  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=0, Color=#616161)";/*IE 8*/
  -moz-box-shadow: 0 5px 5px 5px rgba(97,97,97,0.9);/*FF 3.5+*/
  -webkit-box-shadow: 0 5px 5px 5px rgba(97,97,97,0.9);/*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/
  box-shadow: 0 5px 5px 5px rgba(97,97,97,0.9);/* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color=#616161); /*IE 5.5-7*/
}


.paralaxSection {
  /* The image used */
  background-image: url("../images/hands-up4.jpg");

  /* Set a specific height */
  height: 500px;

  text-align: center;
  color: RGB(240,240,240);

  margin: 0px !important;
  padding: 0px !important;


  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color=#000000)";/*IE 8*/
  text-shadow: 1px 1px 3px #000000;/* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color=#000000); /*IE 5.5-7*/
}
.paralaxSection h1 {
  padding-top: 200px;
}

.actionBanner {
  /* The image used */
  background-image: url("../images/contact.jpg");

  /* Set a specific height */
  height: 200px;

  text-align: center;
  margin: 0px !important;
  padding: 0px !important;


  /* Create the parallax scrolling effect */
  background-position: center;
  background-repeat: no-repeat;
  /*background-size: cover;*/
}

.actionBanner a {
  margin-top: 80px;
  background-color: RGBA(245,245,245,0.4);
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=0, Color=#616161)";/*IE 8*/
  -moz-box-shadow: 0 3px 4px 2px rgba(97,97,97,0.9);/*FF 3.5+*/
  -webkit-box-shadow: 0 3px 4px 2px rgba(97,97,97,0.9);/*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/
  box-shadow: 0 3px 4px 2px rgba(97,97,97,0.9);/* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color=#616161); /*IE 5.5-7*/
}


/*==========================================================================================*/

/*=====================================  CONTACT PAGE ========================================*/
/*==========================================================================================*/
#contactHeader {
  margin-top: 100px;
  
}
.padding15 {
  padding-left: 15px;
}
.textCenter {
  text-align: center;
}


#contactForm {
  margin: 15px auto;
}


